
<a href="/dashboard/getpost/{{id}}" class="upDelLink">
    <div class="card">
        <div class="card-body">
            <h3>{{title}}</h3>
            <h5>Created at {{format_date createdAt}} | Category: {{resource_type}}</h5>
            <p>{{content}}</p>
        </div>
    </div>
</a>