
<a href="/dashboard/getpost/{{id}}" class="upDelLink" style="width: 50%">
    <div class="card postCard">
        <div class="card-body">
            <h3 style="weight: bold">{{title}}</h3>
            <h5>{{content}}</h5>
            <p>Category: {{resource_type}} | Created at {{format_date createdAt}}</p>
            
        </div>
    </div>
</a>