{{!-- wrapped in a link so when clicked it will take user to update/delete page. Need get route to render.--}}
<a href="/dash/{{id}}" class="upDelLink">
    <div class="card">
        <div class="card-body">
            <h3>{{title}}</h3>
            <h4>{{ask_or_give}}</h4>
            <h4>Created at {{format_date createdAt}} | Category: {{resource_type}}</h4>
            <p>{{content}}</p>
        </div>
    </div>
</a>