<div class="container" id="askSearch">
     <a href="/api/post/{{id}}">
    <h3>{{title}}</h3>
    </a>
    <p>By: {{user.name}} on {{format_date createdAt}}</p>
    <p>{{content}}</p>
    <p> Category: {{resource_type}}</p>
    <p> Contact: {{contact}}</p>
</div>