<div class="container" style="width: 50%">
    <div class="row">
        <div class="card postCard">
            <div class="card-body">
                <a href="/api/post/{{id}}">
                    <h3>{{title}}</h3>

                    <p>By: {{user.name}} on {{format_date createdAt}}</p>
                    <h5>{{content}}</h5>
                    <p><b>Category: </b>{{resource_type}}<span>
                            <b>Contact:</b>{{contact}}</p>
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>