{{!-- wrapped in a link so when clicked it will take user to update/delete page. Need get route to render.--}}
<a href="/dash/{{ask.id}}" class="upDelLink">
<div class="card">
    <div class="card-body">
        <h3>{{give.title}}</h3>
        <h4>Created at {{give.createdAt}} | Category: {{give.resource_type}}</h4>
        <p>{{give.content}}</p>
    </div>
</div>
</a>