<div class="row">
    <div class="card">
        <div class="card-body">

            <h4> <img src="{{cause.image}}"> {{charityName}}</h4>

            <a href="{{websiteURL}}" style="color: rgb(50, 161, 163)">{{websiteURL}}</a>



            <p><b>Mailing Address: </b>
                {{mailingAddress.streetAddress1}}
                {{mailingAddress.streetAddress2}}
                {{mailingAddress.city}}, {{mailingAddress.stateOrProvince}} {{mailingAddress.postalCode}}</p>


            <hr>

            <p><b>Mission:</b>{{mission}}</p>

        </div>
    </div>
</div>
<br>