<div class="container">
    <form>
        <h2>{{title}}</h2>
        <div class="form-group">
            <label for="changeTitle">Change Title</label>
            <input type="text" class="form-control" id="changeTitle" placeholder="{{title}}">
        </div>
        <div class="form-group">
            <label for="changeCategory">Change Category</label>
            <select class="form-control" id="changeCategory">
                <option selected>{{resource.type}}</option>
                <option value="1">Clothing, Shoes, & Accessories</option>
                <option value="2">Baby & Kids</option>
                <option value="3">Health & Beauty</option>
                <option value="4">Electronics</option>
                <option value="5">Vehicles</option>
                <option value="6">Toys, Games, & Hobbies</option>
                <option value="7">Sports & Outdoors</option>
                <option value="8">Pet supplies</option>
                <option value="9">Home & Garden</option>
                <option value="10">General</option>
            </select>
        </div>
        <div class="form-group">
            <label for="changeContent">Change Content</label>
            <textarea class="form-control" id="changeContent" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="changeZip">Change Zip</label>
            <input type="text" class="form-control" id="changeTitle" placeholder="{{zip_code}}">
        </div>
        <div class="form-group">
            <label for="changeContact">Change Contact Information</label>
            <input type="text" class="form-control" id="changeTitle" placeholder="{{contact}}">
        </div>
        <button type="submit" class="btn btn-primary update">Update Post</button>
        <button type="submit" class="btn btn-primary delete">Delete Post</button>
        <br>
    </form>
</div>

<script src="/js/updatedelete.js"></script>
