<div class="container" style="width: 50%">
    <form>
        <h2>{{post.title}}</h2>
        <div class="form-group">
            <label for="changeTitle">Change Title</label>
            <input type="text" class="form-control" id="changeTitle" value="{{post.title}}">
        </div>
        <div class="form-group">
            <label for="changeCategory">Change Category</label>
            <select class="form-control" id="changeCategory">

                <option selected>{{post.resource_type}}</option>
                <option value="1">Clothing, Shoes, & Accessories</option>
                <option value="2">Baby & Kids</option>
                <option value="3">Health & Beauty</option>
                <option value="4">Electronics</option>
                <option value="5">Vehicles</option>
                <option value="6">Toys, Games, and Hobbies</option>
                <option value="7">Sports and Outdoors</option>
                <option value="8">Pet supplies</option>
                <option value="9">Home and Garden</option>
                <option value="10">General</option>
            </select>
        </div>
        <div class="form-group">
            <label for="changeContent">Change Content</label>
            <textarea class="form-control" id="changeContent" rows="3">{{post.content}}</textarea>
        </div>
        <div class="form-group">
            <label for="changeZip">Change Zip</label>
            <input type="text" class="form-control" id="changeZip" value={{post.zip_code}}>
        </div>
        <div class="form-group">
            <label for="changeContact">Change Contact Information</label>
            <input type="text" class="form-control" id="changeContact" value={{post.contact}}>
        </div>
        <button type="submit" class="btn btn-primary pageBtn" id="update">Update Post</button>
        <button type="submit" class="btn btn-primary delete pageBtn">Delete Post</button>
        <br>
    </form>
</div>

<script src="/js/updatedelete.js"></script>
