<div class="container" style="width: 50%">
    <form>
        <h2>{{post.title}}</h2>
        <div class="form-group">
            <label for="changeTitle">Change Title</label>
            <input type="text" class="form-control" id="changeTitle" value="{{post.title}}">
        </div>
        <div class="form-group">
            <label for="changeCategory">Change Category</label>
            <select class="form-control" id="changeCategory">

                <option selected>{{post.resource_type}}</option>
                <option value="Clothing">Clothing</option>
                <option value="Food">Food</option>
                <option value="Healthcare">Healthcare</option>
                <option value="Home and Garden">Home and Garden</option>
                <option value="Pet supplies">Pet supplies</option>
                <option value="Services">Services</option>
                <option value="Sports and Outdoors">Sports and Outdoors</option>
                <option value="Toys, Games, and Hobbies">Toys, Games, and Hobbies</option>
                <option value="Miscellaneous">Misc</option>
            </select>
        </div>
        <div class="form-group">
            <label for="changeContent">Change Content</label>
            <textarea class="form-control" id="changeContent" rows="3">{{post.content}}</textarea>
        </div>
        <div class="form-group">
            <label for="changeZip">Change Zip</label>
            <input type="text" class="form-control" id="changeZip" value={{post.zip_code}}>
        </div>
        <div class="form-group">
            <label for="changeContact">Change Contact Information</label>
            <input type="text" class="form-control" id="changeContact" value={{post.contact}}>
        </div>
        <button type="submit" class="btn btn-primary pageBtn" id="update">Update Post</button>
        <button type="submit" class="btn btn-primary delete pageBtn">Delete Post</button>
        <br>
    </form>
</div>

<script src="/js/updatedelete.js"></script>